BonusRestaurantDashboard/Connected Services/RestaurantServiceReference/FichesRestaurantService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58787/FichesRestaurantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BonusRestaurantService" />
  <xs:element name="GetFichesRestaurant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFichesRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BonusRestaurantService" minOccurs="0" name="GetFichesRestaurantResult" nillable="true" type="q1:ArrayOfFicheRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterRestaurant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjouterRestaurantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BonusRestaurantService" minOccurs="0" name="fiche" nillable="true" type="q2:FicheRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupprimerRestaurantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierRestaurant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BonusRestaurantService" minOccurs="0" name="fiche" nillable="true" type="q3:FicheRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierRestaurantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifierRestaurantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>