BonusRestaurantDashboard/Connected Services/RestaurantServiceReference/FichesRestaurantService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BonusRestaurantService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BonusRestaurantService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFicheRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FicheRestaurant" nillable="true" type="tns:FicheRestaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFicheRestaurant" nillable="true" type="tns:ArrayOfFicheRestaurant" />
  <xs:complexType name="FicheRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxClient" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FicheRestaurant" nillable="true" type="tns:FicheRestaurant" />
</xs:schema>