BonusRestaurantDashboard/Connected Services/RestaurantServiceReference/FichesRestaurantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FichesRestaurantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58787/FichesRestaurantService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58787/FichesRestaurantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58787/FichesRestaurantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BonusRestaurantService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFichesRestaurantService_GetFichesRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFichesRestaurant" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_GetFichesRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFichesRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_AjouterRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterRestaurant" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_AjouterRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_SupprimerRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerRestaurant" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_SupprimerRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_ModifierRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifierRestaurant" />
  </wsdl:message>
  <wsdl:message name="IFichesRestaurantService_ModifierRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifierRestaurantResponse" />
  </wsdl:message>
  <wsdl:portType name="IFichesRestaurantService">
    <wsdl:operation name="GetFichesRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesRestaurantService/GetFichesRestaurant" message="tns:IFichesRestaurantService_GetFichesRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesRestaurantService/GetFichesRestaurantResponse" message="tns:IFichesRestaurantService_GetFichesRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjouterRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesRestaurantService/AjouterRestaurant" message="tns:IFichesRestaurantService_AjouterRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesRestaurantService/AjouterRestaurantResponse" message="tns:IFichesRestaurantService_AjouterRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesRestaurantService/SupprimerRestaurant" message="tns:IFichesRestaurantService_SupprimerRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesRestaurantService/SupprimerRestaurantResponse" message="tns:IFichesRestaurantService_SupprimerRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifierRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IFichesRestaurantService/ModifierRestaurant" message="tns:IFichesRestaurantService_ModifierRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFichesRestaurantService/ModifierRestaurantResponse" message="tns:IFichesRestaurantService_ModifierRestaurant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFichesRestaurantService" type="tns:IFichesRestaurantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFichesRestaurant">
      <soap:operation soapAction="http://tempuri.org/IFichesRestaurantService/GetFichesRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjouterRestaurant">
      <soap:operation soapAction="http://tempuri.org/IFichesRestaurantService/AjouterRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimerRestaurant">
      <soap:operation soapAction="http://tempuri.org/IFichesRestaurantService/SupprimerRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierRestaurant">
      <soap:operation soapAction="http://tempuri.org/IFichesRestaurantService/ModifierRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FichesRestaurantService">
    <wsdl:port name="BasicHttpBinding_IFichesRestaurantService" binding="tns:BasicHttpBinding_IFichesRestaurantService">
      <soap:address location="http://localhost:58787/FichesRestaurantService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>